<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tcc Mall</title>
</head>
<body>
    <h3>TCC Mall</h3>
    <h5>Merchant Singup Form</h5>
    <p>Please fill in your details below</p>
    <%  if(typeof(error) !="undefined"){%>
    <% error.forEach(function(err) {%>
        <h6 style="color:red"><%=err.msg%></h6>
   <% })%>
   <% }%>
   <form action="/signup" method="post" enctype="multipart/form-data">
    <p>Fiurstname: <input type="text" name="fn" id="" value="<%= typeof(fn) != "undefined"?fn:" "%>">
    </p>
    <p>Lastname : <input type="text" name="ln" id="" value="<%= typeof(ln) != "undefined"?ln:" "%>">

    </p>
    <p>Phone Number: <input type="number" name="phone" id=""></p>
    <p>CAC Status: Registered <input type="radio" name="status" id="" value="Yes">
                   Not Registered <input type="radio" name="status" id="" value="No">
    </p>
    <p>Username: <input type="text" name="username" id=""></p>
    <p>Password: <input type="password" name="pass1" id="" ></p>
    <p>Confirm Password: <input type="password" name="pass2" id=""></p>
    <p>Upload a Profile picture : <input type="file" name="image" id=""></p>
    <input type="submit" value="click to register">

</form>
<hr>
<a href="/login">Merchant Login</a>
<a href="/signup">Merchant signup</a>
</body>
</html>